
*/ === Typography === */



body {
font-family: 'Helvetica', 'Ariel', sans-serif;
font-size: 14pt;
line-height: 18pt;
color: #000000;
}


nav a {
    
    font-family: 'Helvetica'; 'sans-serif';
    font-size: 18pt;
    font-weight: bold;
    color: #cdcdcd;
    text-decoration: none;
    margin-right: 20px;
    padding-bottom: 30px;

}


header {
   position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px; 
    background-color: #000000;
    padding: 40px;
    width: 100%;
    text-align: center;
  
    
}

a {
    font-family: 'Helvetica', 'Ariel', sans-serif;
    font-size: 14pt;
     text-decoration: none;
    color: #000000;
}




h1 {
font-family: 'Teko', sans-serif;
    font-size: 72pt;
    
    
}


h2 {
  font-family: 'Helvetica', 'Arial', sans-serif; 
      font-size: 24pt;
    font-style: bold;
    
    
}

h3 {
      font-family: 'Helvetica', 'Arial', sans-serif; 
      font-size: 24pt;
    font-style: bold;
}

h4 {
      font-family: 'Helvetica', 'Arial', sans-serif; 
      font-size: 24pt;
    font-style: bold;
    
}

h5 {
        font-family: 'Helvetica', 'Arial', sans-serif; 
      font-size: 24pt;
    font-style: bold;
}
h6 {
    
    font-family: 'Helvetica', 'Arial', sans-serif; 
      font-size: 24pt;
    font-style: bold;
    line-height: 18px;
    margin-bottom: 0px;
    
    
}


footer{
    font-family: 'Helvetica', 'oblique';
    line-height: 18pt;
    font-size: 10pt;
    color: #cdcdcd;
    font-style: italic;
    text-align: center;

}




*/ === Backgrounds === */


header {
    background-color: #000000;  
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%; 
    

    
}
  


main {
    
    background-color: #cdcdcd;
    }



body{
    
  background-color: #cdcdcd;
  padding-top: 100px;  
    
}

footer {
    
    background-color: #000000;
    position: inherit;
    width: 100%;
    left: 0px;
    bottom:0px;
}


#splash {
    
    background-image: url("heading.jpg");
    background-size: cover;
    height: 400px;
}




#advertisement {
line-height: 15px;
font-family: 'Helvetica', 'Ariel', sans-serif;
font-size: 14pt;
line-height: 18pt;
color: #000000;

    
}



*/ === Box Model === */






nav {
   padding: 25px;
    
}

footer {
    padding: 30px;


}

#foodarticles {  
  font-family: 'Helvetica', 'Ariel', sans-serif;
font-size: 14pt;
line-height: 18pt;
color: #000000;
 margin-bottom: 45px;
padding-top: 30px;
}

aside {
font-family: 'Helvetica', 'Ariel', sans-serif;
font-size: 14pt;
line-height: 18pt;
color: #000000;
margin-bottom: 30px;
padding-bottom: 30px;
    
    
}


*/ === Layout === */


main {
    display: grid;
    grid-template-columns: 750px 250px; 
}

div {
    width: 1000px;
    margin: auto;
}



#splash {
grid-column-start:1;
grid-column-end:3;

}

#splash {
    display: flex;
    align-items: center;
    justify-content: center;
}

#advertisement {
    width: 400px;
    height: 200px;
    background-color: red;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    
}
























